is_debug = false
pdf_is_standalone = true
is_component_build = true
pdf_enable_xfa = false
pdf_enable_v8 = false
use_custom_libcxx = false
clang_use_chrome_plugins = false
target_cpu = "$PDFIUM_CPU"
target_os = "$PDFIUM_OS"
